<div class="chat">
  {{ blabla }}
  <div class="messages">
    <div class="message" *ngFor="let msg of globalChatMessages">
      <div class="date">{{ msg.date | date: 'shortTime' }}</div>
      <div class="name">{{ msg.name }}</div>
      <div class="text">{{ msg.text }}</div>
    </div>
  </div>
  <div class="tab-wrapper">
    <div class="tab active">all</div>
    <div class="tab">group</div>
  </div>
  <div class="input">
    <input type="text" [(ngModel)]="chatText" (keyup)="enterText($event)">
  </div>
</div>

