<div class="waitingbar" *ngIf="loadingService.isLoading" [@opacityLoading]="loadingService.isLoading">
  <div class="bar bar-1"></div>
  <div class="bar bar-2"></div>
  <div class="bar bar-3"></div>
  <div class="bar bar-4"></div>
  <div class="bar bar-5"></div>
  <div class="bar bar-6"></div>
  <div class="bar bar-7"></div>
  <div class="bar bar-8"></div>
</div>