@import 'base';

$watingdur: 2s;

.waitingbar {
  background-color: rgba(#000, .4);
  box-shadow: 0 0 50px 30px rgba(#000, .4);
  z-index: 2;
  position: fixed;
  top: 45%;
  left: 50%;
  height: 104px;
  width: 104px;
  // @include transform(scale(1));
  // transform-origin: center center;
  // @include animation(rotateMe $watingdur infinite 1.5s linear);
  // padding: 40px;
  transform: translate(-50%, -50%);
  @include md {
    transform: translate(-50%, -50%) scale(1.4);
  }
  .bar {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $c1;
    &.bar-1 {
      top: 0;
      left: 0;
      @include animation(glow $watingdur infinite (0s));
    }
    &.bar-2 {
      top: 0;
      left: 40px;
      @include animation(glow $watingdur infinite ($watingdur / 8));
    }
    &.bar-3 {
      top: 0;
      left: 80px;
      @include animation(glow $watingdur infinite ($watingdur / 8)*2);
    }
    &.bar-4 {
      top: 40px;
      left: 0;
      @include animation(glow $watingdur infinite ($watingdur / 8)*7);
    }
    &.bar-5 {
      top: 40px;
      left: 80px;
      @include animation(glow $watingdur infinite ($watingdur / 8)*3);
    }
    &.bar-6 {
      top: 80px;
      left: 0;
      @include animation(glow $watingdur infinite ($watingdur / 8)*6);
    }
    &.bar-7 {
      top: 80px;
      left: 40px;
      @include animation(glow $watingdur infinite ($watingdur / 8)*5);
    }
    &.bar-8 {
      top: 80px;
      left: 80px;
      @include animation(glow $watingdur infinite ($watingdur / 8)*4);
    }
  }
}

@include keyframes(glow) {
  0% {
    opacity: 1;
    @include transform( scale(1) );
  }
  20% {
    background-color: #fff;
    opacity: 0.1;
    @include transform( scale(1.5) );
  }
  80% {
    opacity: 1;
    @include transform( scale(1) );
  }
}

@include keyframes(rotateMe) {
  0% {
    @include transform(rotate(360deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}