<div class="login">
  <div class="title">Enter the Dungeon</div>
  <div class="short-hr"></div>
  <div class="container">
    <div class="btn-row">
      <div class="emailform">
        <div class="description">login with email</div>
        <input type="email" [(ngModel)]="email" placeholder="E-Mail">
        <input type="password" [(ngModel)]="password" placeholder="Password">
        <div class="btn-row">
          <div class="btn btn-transparent" (click)="login('emailregister')">register</div>
          <div class="btn" (click)="login('email')">login</div>
        </div>
      </div>
    </div>
    <div class="short-hr"></div>
    <div class="center or">or</div>
    <div class="btn-row">
      <div class="btn btn-icon btn-anonymous" (click)="login('anonymous')">
        <i class="fas fa-user-secret"></i>
        <div class="text">Guest</div>
      </div>
      <div class="btn btn-icon btn-google" (click)="login('google')">
        <i class="fab fa-google"></i>
        <div class="text">Google</div>
      </div>
      <div class="btn btn-icon btn-facebook" (click)="login('Facebook')">
        <i class="fab fa-facebook"></i>
        <div class="text">Facebook</div>
      </div>
      <div class="btn btn-icon btn-twitter" (click)="login('Twitter')">
        <i class="fab fa-twitter"></i>
        <div class="text">Twitter</div>
      </div>
    </div>
  </div>
  <loading></loading>
