
<div class="notificationWrapper">
  <div @toggleHeightBlob *ngFor="let message of messages">
    <notification class="notification"  [message]="message" (closeMessage)="closeMessage(message)"></notification>
  </div>
</div>
