$red: #800;
$bc: #282a36;
$fc: #f8f8f2;
$c1: #55267A;
$c2: adjust-hue($c1, 86deg);
$c3: adjust-hue($c1, 146deg);
$c4: adjust-hue($c1, 220deg);
$c5: adjust-hue($c1, 230deg);
$c6: adjust-hue($c1, 280deg);
$c7: adjust-hue($c1, 300deg);
$del: $c2;

$c1: #2C4770;
$c2: adjust-hue($c1, -30deg);
$c3: adjust-hue($c1, 30deg);
$c4: adjust-hue($c1, -90deg);
$c5: adjust-hue($c1, 120deg);
$c6: adjust-hue($c1, 160deg);
$c7: adjust-hue($c1, 210deg);


$bc2: #081A0C;
$bc3: #222;

$grey: #aaa;
$darkgrey: #181818;

$menu-width: 320px;

$maxwidthitem: 250px;

$c1-light: lighten($c1, 10%);
$c1-dark: darken($c1, 10%);
$c2-light: lighten($c2, 15%);
$c2-light2: lighten($c2, 30%);
// http://paletton.com/#uid=52T0u0kmJn0cIwBiar1qLirvXcZ
$xs: 0;
$sm: 575px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
@mixin xs {
	@media (min-width: $xs) {
		@content;
	}
}
@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}
@mixin md {
	@media (min-width: $md) {
		@content;
	}
}
@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}
@mixin xl {
	@media (min-width: $xl) {
		@content;
	}
}
@mixin maxxs {
	@media (max-width: $xs) {
		@content;
	}
}
@mixin maxsm {
	@media (max-width: $sm) {
		@content;
	}
}
@mixin maxmd {
	@media (max-width: $md) {
		@content;
	}
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}
@mixin order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}
@mixin transition-property($property...) {
	-moz-transition-property: $property;
	-o-transition-property: $property;
	-webkit-transition-property: $property;
	transition-property: $property;
}
@mixin transition-duration($duration...) {
	-moz-transition-property: $duration;
	-o-transition-property: $duration;
	-webkit-transition-property: $duration;
	transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
	-moz-transition-timing-function: $timing;
	-o-transition-timing-function: $timing;
	-webkit-transition-timing-function: $timing;
	transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}
@mixin transform($in) {
	transform: $in;
	-webkit-transform: $in;
	-moz-transform: $in;
	-o-transform: $in;
	-ms-transform: $in;
}
@mixin transform-style($type) {
	-webkit-transform-style: $type;
	-moz-transform-style: $type;
	-o-transform-style: $type;
	-ms-transform-style: $type;
	transform-style: $type;
}
@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';
	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};
		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation: $animations;
	-o-animation: $animations;
	animation: $animations;
}
@mixin animation-duration($time) {
	-webkit-animation-duration: $time;
	-moz-animation-duration: $time;
	-ms-animation-duration: $time;
	-o-animation-duration: $time;
	animation-duration: $time;
}
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@mixin noselect() {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


@mixin boxShadow() {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


@mixin boxShadowStrong() {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28), 0 6px 2px -4px rgba(0, 0, 0, 0.28), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

@mixin boxShadowVeryStrong() {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.28), 0 12px 4px -8px rgba(0, 0, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.4);
}

@mixin boxShadowInset() {
	box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@mixin boxShadowInsetStrong() {
	box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.28), inset 0 6px 2px -4px rgba(0, 0, 0, 0.24), inset 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

@mixin boxShadowInsetVeryStrong() {
	box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.28), inset 0 12px 4px -4px rgba(0, 0, 0, 0.24), inset 0 4px 20px 0 rgba(0, 0, 0, 0.4);
}

@mixin border() {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

@mixin defHR() {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
