.chat {
  width: 100%;
  background-color: #222;
  font-size: 16px;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .messages {
    .message {
      display: flex;
      > div {
        margin: 0 4px;
      }
    }
  }
  .tab-wrapper {
    margin-top: auto;
    display: flex;
    background-color: #252525;
    .tab {
      padding: 4px 12px;
      background-color: #333;
      transition: .5s;
      cursor: pointer;
      &:hover {
        background-color: #444;
      }
      &.active {
        background-color: $c1;
      }
    }
  }
  .input {
    input {
      width: 100%;
      padding: 8px;
      font-size: 16px;
    }
  }
}