.login {
	max-width: 800px;
	margin: 20px auto;
	background-color: $bc3;
	border-radius: 2px;
	padding: 20px;

	.title {
		margin: 20px 0 20px 0;
		text-align: center;
		color: #aaa;
		font-weight: 700;
	}
	description {
		text-align: center;
	}
	.btn-row {
		max-width: 350px;
		margin: 10px auto;
		@include md {
		}
	}
	.emailform {
		margin: 10px;
		display: flex;
		flex-direction: column;
		.btn-row {
			display: flex;
			justify-content: space-between;
			width: 100%;
			.btn {
				margin: 10px 0;
				width: 120px;
			}
		}
	}
	input {
		margin: 10px 0;
	}
	.container {
		@include md {
			display: flex;
			align-items: center;
			> .btn-row:first-of-type {
				max-width: 300px;
			}
			> .btn-row:last-of-type {
				width: 300px;
			}
		}
	}
	@include md {
		.short-hr {
			display: none;
		}
		.or {
			align-self: center;
			border-radius: 50%;
			border: 2px solid #fff;
			width: 53px;
			height: 53px;
			line-height: 48px;
			padding-left: 1px;
			@include boxShadowStrong;
			text-align: center;
			position: relative;
			font-size: 20px;
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 100%;
				height: 80px;
				width: 2px;
				background-color: #fff;
				@include boxShadowStrong;
			}
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				height: 80px;
				width: 2px;
				background-color: #fff;
				@include boxShadowStrong;
			}
		}
	}
}

.short-hr {
	margin: 20px auto;
	background-color: #aaa;
	height: 6px;
	width: 50px;
}

.btn.btn-anonymous {
	background-color: $c3;
	&:hover {
		background-color: lighten($c3, 10%);
	}
}

.btn.btn-google {
	color: #fff;
	background-color: #dc4d3b;
	// text-shadow: none;
	&:hover {
		background-color: lighten(#dc4d3b, 10%);
	}
}

.btn.btn-facebook {
	color: #fff;
	background-color: #3c5998;
	// text-shadow: none;
	&:hover {
		background-color: lighten(#3c5998, 10%);
	}
}

.btn.btn-twitter {
	color: #fff;
	background-color: #55acf0;
	// text-shadow: none;
	&:hover {
		background-color: lighten(#55acf0, 10%);
	}
}
.btn.btn-icon {
	display: flex;
	align-items: center;
	i {
		min-width: 30px;
		color: #fff;
		font-size: 24px;
	}
	.text {
		border-left: 2px solid rgba(#000, .6);
		margin-left: 20px;
		padding-left: 20px;
	}
}