.navbar {
	margin: 0;
	background-color: darken($bc, 6%);
	border-bottom: 10px solid lighten($bc, 10%);
	font-size: 26px;
  @include flexbox;
	justify-content: flex-start;
	align-items: center;
	@include md {
		margin-left: $menu-width;
		@include transition(.8s);
		&.hiddenMenu {
			margin-left: 0;
		}
	}
	.icon {
		padding: 20px 30px;
		background-color: $c2;
		margin-right: 10px;
		cursor: pointer;
		@include transition(.3s);
		&:hover {
			background-color: lighten($c2, 15%);
		}
	}
	.title {
		padding: 20px 0 20px 10px;
	}
	.avatar {
		margin: 0 10px 0 auto;
		// height: 100%;
		position: relative;
		// overflow: hidden;
		img {
			position: relative;
			z-index: 2;
			height: 60px;
			// -webkit-filter: drop-shadow(0px 0px 3px rgba(#fff, .6));
			// filter:         drop-shadow(0px 0px 3px rgba(#fff, .6));
			-webkit-filter: drop-shadow(2px 2px 3px #000);
			filter:         drop-shadow(2px 2px 3px #000);
		}
		&:after {
			content: '';
			// background-color: #fff;
			border-radius: 50%;
			height: 5px;
			bottom: 2px;
			z-index: 1;
			width: 100%;
			position: absolute;
			left: 0;
			background-image: radial-gradient(#000 0%, transparent 75%);
		}
	}
}
