body,
html {
	// font-family: "Roboto", "Consolas";
	// font-family: "Consolas";
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	width: 100%;
	min-height: 100%;
	color: $fc;
	margin: 0;
	text-shadow: 2px 2px 2px #000;
}

html {
	background-color: $bc;
	background-image: linear-gradient(135deg, rgba($bc,0.89) 0%, #151515 100%);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.title {
	font-size: 28px;
}

.center {
	text-align: center;
}

.btn {
	background-color: desaturate($c1, 10%);
	border-radius: 4px;
	border: 2px solid transparent;
	padding: 6px 12px;
	margin: 10px;
	text-align: center;
	@include border;
	cursor: pointer;
	@include boxShadow;
	transition: .5s;
	&:hover {
		background-color: lighten($c1, 10%);
		@include boxShadowInset;
	}
	&.btn-transparent {
		background-color: transparent;
		border: 2px solid $c1;
		&:hover {
			background-color: lighten($c1, 10%);
		}
	}
}

input,
input:-webkit-autofill {
	font-size: 22px;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	color: #aaa;
	background-color: $darkgrey;
	border: 1px solid $darkgrey;
	font-family: 'Roboto Mono';
	transition: .5s;
	@include boxShadowInset;
	&:focus {
		outline: none;
		@include boxShadowInsetStrong;
	}
	&:-internal-autofill-selected {
		background-color: $darkgrey !important;
	}
}

/*
<div class="toggle-wrapper">
	<input type="checkbox" id="checkbox">
	<label class="toggle" for="checkbox"><span></span></label>
</div>
*/
.toggle-wrapper {
  overflow: visible;
  input[type=checkbox] {
    display: none;
    &:checked+.toggle {
      &:before {
        background: lighten($c1, 15%);
      }
      span {
        background: $c1;
        transform: translateX(20px);
        transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
        box-shadow: 0 3px 8px rgba($c1, .2);
        &:before {
          transform: scale(1);
          opacity: 0;
          transition: all .8s ease;
        }
      }
    }
  }

  .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:before {
      content: "";
      position: relative;
      top: 3px;
      left: 3px;
      width: 34px;
      height: 14px;
      display: block;
      background: #aaa;
      border-radius: 8px;
      transition: background .2s ease;
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      display: block;
      background: white;
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba(#aaa, .5);
      transition: all .2s ease;
      // transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
      &:before {
        content: "";
        position: absolute;
        display: block;
        margin: -18px;
        width: 56px;
        height: 56px;
        background: rgba($c1, .8);
        border-radius: 50%;
        transform: scale(0);
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}