#toastWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	overflow: hidden;
	@include md {
		// margin-left: -250px;
		// left: 0;
		// bottom: 10%;
	}
	.toast {
		position: relative;
		background-color: #000;
		color: #fff;
		font-size: 36px;
		text-align: center;
		padding: 20px 0px;
		width: 100%;
		@include transition(.6s);
		@include border;
		@include boxShadow;
		bottom: -50px;
		opacity: 0;
		visibility: hidden;
		&.visible {
			bottom: 0;
			opacity: 1;
			visibility: visible;
		}
		&.success {
			background-color: $c1;
		}
		&.info {
			background-color: $c2;
		}
		&.warning {
			background-color: $c3;
		}
		&.error {
			background-color: $del;
		}
	}
	img {
		width: 100%;
		max-width: 40px;
		&.item {
			width: 100%;
			max-width: 40px;
		}
	}
}
