@import 'base';

.notification {
  position: relative;
  padding: 20px;
  &.info {
    color: #fff;
    background-color: $c1;
  }
  &.success {
    color: #fff;
    background-color: $c4;
  }
  &.error {
    color: #fff;
    background-color: $c5;
  }

  .btn-close {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: rgba(#fff, .8);
    border-radius: 0px;
    line-height: 20px;
    padding: 8px 14px;
    height: auto;
    width: auto;
    border-bottom-left-radius: 25px;
    background-color: rgba(#000, .15);
    cursor: pointer;
    @include transition(all .5s, border-radius .7s ease .3s);
    &:hover {
      border-bottom-left-radius: 4px;
      background: rgba(#fff, .2);
      color: #fff;
    }
  }
}